@import "react-datepicker/dist/react-datepicker.css";

/*
 * Variables.
 */
:root {
  /* Leet colors. */
  --ui89-palette-black: #000000;
  --ui89-palette-dark-blue: #0000aa;
  --ui89-palette-dark-green: #00aa00;
  --ui89-palette-dark-cyan: #00aaaa;
  --ui89-palette-dark-red: #aa0000;
  --ui89-palette-dark-pink: #aa00aa;
  --ui89-palette-dark-yellow: #aa5500;
  --ui89-palette-light-gray: #aaaaaa;
  --ui89-palette-dark-gray: #555555;
  --ui89-palette-light-blue: #5454ff;
  --ui89-palette-light-green: #55ff55;
  --ui89-palette-light-cyan: #55ffff;
  --ui89-palette-light-red: #ff5555;
  --ui89-palette-light-pink: #ff55ff;
  --ui89-palette-light-yellow: #ffff55;
  --ui89-palette-white: #ffffff;

  /* Themes */
  --ui89-theme-primary-text-color: var(--ui89-palette-black);
  --ui89-theme-primary-bg-color: var(--ui89-palette-light-yellow);

  --ui89-theme-secondary-text-color: var(--ui89-palette-black);
  --ui89-theme-secondary-bg-color: var(--ui89-palette-white);

  --ui89-theme-success-text-color: var(--ui89-palette-white);
  --ui89-theme-success-bg-color: var(--ui89-palette-dark-green);

  --ui89-theme-info-text-color: var(--ui89-palette-white);
  --ui89-theme-info-bg-color: var(--ui89-palette-light-blue);

  --ui89-theme-warning-text-color: var(--ui89-palette-white);
  --ui89-theme-warning-bg-color: var(--ui89-palette-dark-yellow);

  --ui89-theme-danger-text-color: var(--ui89-palette-white);
  --ui89-theme-danger-bg-color: var(--ui89-palette-dark-red);

  /* Size and alignment */
  --ui89-safe-space: 8px;
  --ui89-input-height: 32px;

  /* Typography */
  --ui89-font-size-huge: 32px;
  --ui89-font-size-big: 20px;
  --ui89-font-size-normal: 16px;
  --ui89-font-size-small: 14px;
  --ui89-font-size-tiny: 10px;

  /* Input box */
  --ui89-input-bg-color: var(--ui89-palette-black);
  --ui89-input-text-color: var(--ui89-palette-light-yellow);

  /* Animation */
  --ui89-animation-speed: 100ms;

  /* Cursors */
  --ui89-cursor-default: default;
  --ui89-cursor-pointer: pointer;

  /* Shadows */
  --ui89-box-shadow: 10px 10px 0px black;
}
