.ui89-input-box {
  box-sizing: border-box;
  display: block;
  width: 100%;

  height: var(--ui89-input-height);
  line-height: var(--ui89-input-height);
  padding: 0 var(--ui89-safe-space);
  border: 0;

  border-radius: 0;
  outline: none;

  background: var(--ui89-input-bg-color);
  color: var(--ui89-input-text-color);
}

.ui89-input-box--unselectable {
  user-select: none;
}

.ui89-input-box--clickable {
  cursor: var(--ui89-cursor-pointer);
}
