.ui-89-look-main {
  --ui89-scene-text-color: var(--ui89-palette-white);
  --ui89-scene-text-subtle-color: var(--ui89-palette-light-gray);
  --ui89-scene-bg-color: var(--ui89-palette-dark-blue);
  --ui89-scene-highlight-color: rgba(255, 255, 255, 0.2);
  --ui89-scene-card-bg-color: var(--ui89-palette-dark-blue);
  --ui89-scene-card-text-color: var(--ui89-palette-white);

  --ui89-theme-primary-text-color: var(--ui89-palette-white);
  --ui89-theme-primary-bg-color: var(--ui89-palette-light-blue);

  --ui89-theme-secondary-text-color: var(--ui89-palette-black);
  --ui89-theme-secondary-bg-color: var(--ui89-palette-light-gray);
}

.ui-89-look-side {
  --ui89-scene-text-color: var(--ui89-palette-white);
  --ui89-scene-text-subtle-color: var(--ui89-palette-dark-gray);
  --ui89-scene-bg-color: var(--ui89-palette-light-gray);
  --ui89-scene-highlight-color: rgba(255, 255, 255, 0.2);
  --ui89-scene-card-bg-color: var(--ui89-palette-light-gray);
  --ui89-scene-card-text-color: var(--ui89-palette-white);

  --ui89-theme-primary-text-color: var(--ui89-palette-white);
  --ui89-theme-primary-bg-color: var(--ui89-palette-light-blue);

  --ui89-theme-secondary-text-color: var(--ui89-palette-black);
  --ui89-theme-secondary-bg-color: var(--ui89-palette-white);
}
