.ui89-text-unbreakable {
  white-space: nowrap;
}

.ui89-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui89-text-single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui89-text-single-line--ellipsis-left {
  direction: rtl;
}
