.unbreakable {
  white-space: nowrap;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.singleLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.singleLine--ellipsisLeft {
  direction: rtl;
}
