.ui89-typo-big {
  font-family: monospace;
  font-size: var(--ui89-font-size-big);
  line-height: 25px;
}

.ui89-typo-normal {
  font-family: monospace;
  font-size: var(--ui89-font-size-normal);
  line-height: 16px;
}

.ui89-typo-normal-bold {
  font-family: monospace;
  font-size: var(--ui89-font-size-normal);
  line-height: 16px;
  font-weight: bold;
}

.ui89-typo-small {
  font-family: monospace;
  font-size: var(--ui89-font-size-small);
  line-height: 16px;
}

.ui89-typo-small-bold {
  font-family: monospace;
  font-size: var(--ui89-font-size-small);
  line-height: 16px;
  font-weight: bold;
}

/* For buttons and such. */
.ui89-typo-special {
  font-family: monospace;
  font-size: var(--ui89-font-size-small);
  font-weight: bold;
}
