.hoverShadow {
  display: grid;
  padding-right: var(--ui89-safe-space);
  padding-bottom: var(--ui89-safe-space);
  position: relative;
}

.hoverShadowRight {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100% - var(--ui89-safe-space));
  width: var(--ui89-safe-space);
  box-sizing: border-box;
  background: black;
  z-index: 0;
}

.hoverShadowBottom {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - var(--ui89-safe-space));
  height: var(--ui89-safe-space);
  box-sizing: border-box;
  background: black;
  z-index: 0;
}
