.ui89-menu-bar {
  display: flex;

  height: 16px;

  color: var(--ui89-theme-primary-text-color);
  background: var(--ui89-theme-primary-bg-color);
}

.ui89-menu-bar__item {
  cursor: var(--ui89-cursor-pointer);
  padding: 0 calc(var(--ui89-safe-space) * 2);
}

.ui89-menu-bar__item:hover,
.ui89-menu-bar__item:active {
  color: var(--ui89-theme-primary-bg-color);
  background: var(--ui89-theme-primary-text-color);
}
