.ui89-input-select {
  position: relative;
}

.ui89-input-select__menu {
  overflow: auto;
  background: var(--ui89-input-bg-color);
  color: var(--ui89-input-text-color);
  display: flex;
  flex-direction: column;
  animation: ui89-input-select__appear var(--ui89-animation-speed);
}

@keyframes ui89-input-select__appear {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0%);
  }
}

.ui89-input-select__menu__item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  background: var(--ui89-input-bg-color);
  color: var(--ui89-input-text-color);
  padding: 0 var(--ui89-safe-space);
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
}

.ui89-input-select__menu__item:not(.ui89-input-select__menu__item--disabled) {
  cursor: pointer;
}

.ui89-input-select__menu__item:not(
    .ui89-input-select__menu__item--disabled
  ):hover,
.ui89-input-select__menu__item.ui89-input-select__menu__item--selected {
  background: var(--ui89-input-text-color);
  color: var(--ui89-input-bg-color);
}

.ui89-input-select__menu__item--disabled {
  color: var(--ui89-palette-white);
}
