.ui89-title-box {
  display: flex;
}

.ui89-title-box__inside {
  min-width: 0;
  color: var(--ui89-scene-bg-color);
  background-color: var(--ui89-scene-text-color);
  padding: 0px var(--ui89-safe-space);
}
