.ui89-modal-dialog {
  position: fixed;
  inset: 0px;

  display: none;
  animation: ui89-modal-dialog__appear var(--ui89-animation-speed);
}

.ui89-modal-dialog--open {
  display: block;
}

.ui89-modal-dialog__backdrop {
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.ui89-modal-dialog__box {
  position: absolute;
  inset: 0;
  border: none;
  border-radius: 0;
  outline: none;
  margin: auto;

  /*
    Need to make sure that the dialog does not overflow page.
    The contents inside must overflow.
  */
  max-height: 100%;
  min-height: 0;
  bottom: auto;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.ui89-modal-dialog__spacer {
  min-height: 0;
  height: 100px;
}

.ui89-modal-dialog__box > *:not(.ui89-modal-dialog__spacer) {
  flex: 1 0;
  min-height: 0;
}

.ui89-modal-dialog__box--size-big {
  max-width: 700px;
}

.ui89-modal-dialog__box--size-medium {
  max-width: 500px;
}

.ui89-modal-dialog__box--size-small {
  max-width: 300px;
}

@keyframes ui89-modal-dialog__appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
