.dialog {
  position: fixed;
  inset: 0px;

  display: none;
  animation: appear var(--ui89-animation-speed);
}

.dialog--open {
  display: block;
}

.dialogBackdrop {
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogBox {
  position: absolute;
  inset: 0;
  border: none;
  border-radius: 0;
  outline: none;
  margin: auto;
  word-break: break-word;

  /*
    Need to make sure that the dialog does not overflow page.
    The contents inside must overflow.
  */
  max-height: 100%;
  min-height: 0;
  bottom: auto;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.spacer {
  min-height: 0;
  height: 100px;
}

.dialogBox > *:not(.spacer) {
  flex: 1 0;
  min-height: 0;
}

.dialogBox--size-big {
  max-width: 700px;
}

.dialogBox--size-medium {
  max-width: 500px;
}

.dialogBox--size-small {
  max-width: 300px;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
