.ui89-virtual-table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

.ui89-virtual-table > .ui89-virtual-table__body,
.ui89-virtual-table > .ui89-virtual-table__empty {
  flex: 1;
}

.ui89-virtual-table__header {
  position: absolute;
  top: 0;
  z-index: 2;

  /* Making sure that the row border can occupy the entire width */
  min-width: 100%;

  display: flex;
}

.ui89-virtual-table__row-border {
  margin-top: -1px;
  border-bottom: 1px solid var(--ui89-scene-text-color);
  position: absolute;
  left: 0;
  right: 0;

  /* This element can appear on top of other elements. */
  pointer-events: none;
}

.ui89-virtual-table__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ui89-virtual-table__cell {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 var(--ui89-safe-space);

  /* Have to render border in case last column is not visible. */
  border-bottom: 1px solid var(--ui89-scene-text-color);

  /* The width of the column will include padding and border. */
  box-sizing: border-box;

  overflow: hidden;

  /* So that the floating headers remain visible. */
  background: var(--ui89-scene-bg-color);
}

.ui89-virtual-table__cell--column-first {
  padding-left: var(--ui89-safe-space);
}

.ui89-virtual-table__cell--column-last {
  padding-right: var(--ui89-safe-space);
}

.ui89-virtual-table__cell--row-first {
  border-top: none;
}

.ui89-virtual-table__cell--row-last {
}

.ui89-virtual-table__cell--halign-left {
  align-items: flex-start;
}

.ui89-virtual-table__cell--halign-right {
  align-items: flex-end;
}

.ui89-virtual-table__cell--halign-center {
  align-items: center;
}
