.ui89-card {
  background: var(--ui89-scene-card-bg-color);
  color: var(--ui89-scene-card-text-color);
  border-radius: var(--ui89-box-border-radius);
  position: relative;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 0px;
  border-top: calc(var(--ui89-safe-space)) solid #ffffff20;
  border-left: calc(var(--ui89-safe-space)) solid #ffffff20;
  border-right: calc(var(--ui89-safe-space)) solid #00000040;
  border-bottom: calc(var(--ui89-safe-space)) solid #00000040;
  padding: calc(var(--ui89-safe-space) / 4) calc(var(--ui89-safe-space) / 2);
  border: 1px solid var(--ui89-scene-card-text-color);

  display: flex;
  flex-direction: column;
}

.ui89-card > * {
  flex: 1;
}

.ui89-card__inside {
  border: 1px solid white;
  padding: calc(var(--ui89-safe-space));
}

.ui89-card__top-left {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding-left: var(--ui89-safe-space);
  transform: translateY(50%);
  max-width: 100%;
}

.ui89-card__top-center {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 0 var(--ui89-safe-space);
  max-width: 100%;
  box-sizing: border-box;
}

.ui89-card__top-right {
  position: absolute;
  bottom: 100%;
  right: 0;
  padding-right: var(--ui89-safe-space);
  transform: translateY(50%);
  max-width: 100%;
}

.ui89-card__bottom-left {
  position: absolute;
  top: 100%;
  left: 0;
  padding-left: var(--ui89-safe-space);
  transform: translateY(-50%);
  max-width: 100%;
}

.ui89-card__bottom-center {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 var(--ui89-safe-space);
  max-width: 100%;
  box-sizing: border-box;
}

.ui89-card__bottom-right {
  position: absolute;
  top: 100%;
  right: 0;
  padding-right: var(--ui89-safe-space);
  transform: translateY(-50%);
  max-width: 100%;
}

.ui89-card__horizontal-connection {
  margin: 0 calc(var(--ui89-safe-space) * -1);
  background: var(--ui89-scene-card-bg-color);
}

.ui89-card__horizontal-connection--overflow {
  margin: 0 calc(var(--ui89-safe-space) * -1 - 1px);
}
