.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigationItem {
  color: var(--ui89-content-text-color);
  background-color: var(--ui89-content-bg-color);
  padding: 0 calc(var(--ui89-safe-space) * 3);
  cursor: pointer;
}

.navigationItem:hover,
.navigationItemSelected {
  background-color: var(--ui89-content-text-color);
  color: var(--ui89-content-bg-color);
}
