dialog.ui89-modal-dialog {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: none;
  padding: 0;
  background: transparent;
  overflow: hidden;
  animation: ui89-modal-dialog__appear var(--ui89-animation-speed);
}

dialog.ui89-modal-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  animation: ui89-modal-dialog__appear var(--ui89-animation-speed);
}

.ui89-modal-dialog__box {
  border: none;
  border-radius: 0;
  outline: none;
  margin: 0 auto;
  padding: var(--ui89-safe-space);

  /*
    Need to make sure that the dialog does not overflow page.
    The contents inside must overflow.
  */
  max-height: 100%;
  min-height: 0;
  bottom: auto;
  overflow: auto;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.ui89-modal-dialog__spacer {
  /* We only want this to shrink */
  flex: 0 10 auto;
  height: 10%;
  pointer-events: none;
}

.ui89-modal-dialog__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ui89-modal-dialog__box > *:not(.ui89-modal-dialog__spacer) {
  flex: 1 0;
  min-height: 0;
}

.ui89-modal-dialog__box--size-big {
  width: 700px;
}

.ui89-modal-dialog__box--size-medium {
  width: 500px;
}

.ui89-modal-dialog__box--size-small {
  width: 300px;
}

.ui89-modal-dialog__box--size-full {
  width: 100%;
}

.ui89-modal-dialog__box--size-responsive {
  width: fit-content;
}

@keyframes ui89-modal-dialog__appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
