.container {
  display: inline-flex;
  flex-direction: column;

  position: relative;
  text-align: center;

  box-sizing: border-box;

  user-select: none;
  cursor: pointer;
}

.label {
  max-width: 140px;
}

.container:hover {
  border-color: currentColor;
}
.container:hover .label {
  background: var(--ui89-scene-text-color);
  color: var(--ui89-scene-bg-color);
}

.imageContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.image {
  display: block;
  width: 140px;
  height: 140px;
}

.shortcutIconContainer {
  position: relative;
  width: 0;
}

.shortcutIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
