.ui-89-name-value-pair {
  display: flex;
}

.ui-89-name-value-pair__name-wrapper {
  display: flex;
  flex: 1;
}

.ui-89-name-value-pair__dots {
  flex: 1 1;
  min-width: calc(var(--ui89-safe-space) * 2);
  border-bottom: 1px dashed currentColor;

  /* Want to make sure that the dots are at the baseline */
  height: calc(1em * 0.75);

  /* So that the dots are not too close to the text */
  margin: 0 2px;
}
