.table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

.table > .tableBody,
.table > .empty {
  flex: 1;
}

.tableHeader {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 2;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cell {
  display: flex;
  align-items: center;
  padding: var(--ui89-safe-space);
  border-bottom: 2px solid var(--ui89-scene-text-color);

  /* The width of the column will include padding and border. */
  box-sizing: border-box;

  overflow: hidden;

  /* So that the floating headers remain visible. */
  background: var(--ui89-scene-bg-color);
}

.cell--column-first {
  padding-left: var(--ui89-safe-space);
}

.cell--column-last {
  padding-right: var(--ui89-safe-space);
}

.cell--row-first {
  border-top: none;
}

.cell--row-last {
}
