.ui89-theme-background {
  color: var(--ui89-theme-text-color);
  background-color: var(--ui89-theme-bg-color);

  /* Must affect cards */
  --ui89-scene-bg-color: var(--ui89-theme-bg-color);
  --ui89-scene-text-color: var(--ui89-theme-text-color);
}
