.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigationItem {
  color: var(--ui89-scene-text-color);
  background-color: var(--ui89-scene-bg-color);
  padding: 0 calc(var(--ui89-safe-space) * 3);
  cursor: var(--ui89-cursor-pointer);
}

.navigationItem:hover,
.navigationItemSelected {
  background-color: var(--ui89-scene-text-color);
  color: var(--ui89-scene-bg-color);
}
