.ui89-input-select {
  position: relative;
}

.ui89-input-select__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  display: none;
  background: var(--ui89-input-bg-color);
  color: var(--ui89-input-text-color);
  z-index: 1;
}

.ui89-input-select__menu__content {
  display: inline-flex;
  flex-direction: column;

  /* We want to make sure that all items occupy at least the width of the menu */
  min-width: 100%;
}

.ui89-input-select:focus-within .ui89-input-select__menu {
  display: block;

  animation: appear var(--ui89-animation-speed);
}

@keyframes appear {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0%);
  }
}

.ui89-input-select__menu__item {
  display: inline-flex;
  align-items: center;
  background: var(--ui89-input-bg-color);
  color: var(--ui89-input-text-color);
  height: var(--ui89-input-height);
  padding: 0 var(--ui89-safe-space);
  white-space: nowrap;
  user-select: none;
}

.ui89-input-select__menu__item:not(.ui89-input-select__menu__item--disabled) {
  cursor: pointer;
}

.ui89-input-select__menu__item:not(.ui89-input-select__menu__item--disabled):hover,
.ui89-input-select__menu__item.ui89-input-select__menu__item--selected {
  background: var(--ui89-input-text-color);
  color: var(--ui89-input-bg-color);
}

.ui89-input-select__menu__item--disabled {
  color: var(--ui89-palette-white);
}
