.ui89-link-bracket {
  cursor: pointer;
  user-select: none;
  color: currentColor;
}

.ui89-link-bracket:hover {
  color: var(--ui89-theme-bg-color);
  background-color: var(--ui89-theme-text-color);
}
