.table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

.table > .tableBody,
.table > .empty {
  flex: 1;
}

.tableHeader {
  position: absolute;
  top: 0;
  z-index: 2;

  /* Making sure that the row border can occupy the entire width */
  min-width: 100%;

  display: flex;
}

.rowBorder {
  margin-top: -2px;
  border-bottom: 2px solid var(--ui89-scene-text-color);
  position: absolute;
  left: 0;
  right: 0;

  /* This element can appear on top of other elements. */
  pointer-events: none;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cell {
  display: flex;
  align-items: center;
  padding: var(--ui89-safe-space);

  /* Have to render border in case last column is not visible. */
  border-bottom: 2px solid var(--ui89-scene-text-color);

  /* The width of the column will include padding and border. */
  box-sizing: border-box;

  overflow: hidden;

  /* So that the floating headers remain visible. */
  background: var(--ui89-scene-bg-color);
}

.cell--column-first {
  padding-left: var(--ui89-safe-space);
}

.cell--column-last {
  padding-right: var(--ui89-safe-space);
}

.cell--row-first {
  border-top: none;
}

.cell--row-last {
}
